body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(194, 218, 228);
  min-height: 100%;
}

li{
  list-style: none; 
}

.tickets {
  position: relative;
  top: -400px;
}

.someTicket {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  background-color: white;
  width: 50%;
  height: 100px;
  margin-left: 450px;
  transition: .5s;
}

.someTicket:hover {
  background-color: lightyellow;
  transition: .5s;
}

.price {
  width: 140px;
  padding-left: 5px;
  height: 100%;
  border-right: solid 1px rgb(201, 201, 201);
}

.btnTicket {
  color: white;
  font-size: medium;
  background-color: rgb(255, 145, 0);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px grey;
  padding: 5px 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: .5s;
  width: 120px;
  height: 50px;
}

.btnTicket:hover {
  background-color: rgb(255, 208, 0);
  box-shadow: 2px 2px 2px grey;
  transition: .5s;
}

.turAir {
  padding-left: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  height: 35px;
  width: 430px;  
}

.time_1,
.time_2 {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

hr {
  border: none;
  color: grey;
  background-color: grey;
  height: .1px;
}

.stops {
  text-align: center;
  width: 150px;
}

.origin,
.divDate {
  margin-left: 20px;
}

.origin {
  margin-top: 5px;
}

.span_3 {
  margin-left: 185px;
}

.divDate {
  color: grey;
  font-size: small;
}

.divDateSpan {
  margin-left: 330px;
}

.currencyStyle {
  padding: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  width: 250px;
  position: relative;
  top: -28px;
  margin-left: 90px;
  z-index: 5;
}

.btnCur {
  margin-top: 10px;
}

.btn_1,
.btn_2,
.btn_3 {
  height: 40px;
  width: 33.3%;
  border: rgb(211, 211, 211) solid .1px;
  cursor: pointer;
  color: rgb(0, 110, 255);
  font-size: medium;
  background-color: white;
  transition: .5s;
}

.selected {
  color: white;
  background-color: rgb(0, 110, 255);
}

.btn_1 {
  border-radius: 5px 0px 0px 5px;
}

.btn_3 {
  border-radius: 0px 5px 5px 0px;
}

.transfer {
  padding-left: 0;
  margin-top: 30px;
}

.checkLi,
.checkLiAll {
  margin-left: -5px;
  font-size: smaller;  
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.checkLiLast {
  margin-left: -5px;
  font-size: smaller;  
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.one {
  zoom: 1.5;
}

.text {
  position: relative;
  bottom: 5px;
}

.checkLi:hover {
  background-color: rgb(235, 235, 253);
  transition: .5s;
}

.checkLiAll:hover {
  background-color: rgb(235, 235, 253);
  transition: .5s;
}

.checkLi:hover .text_2{
  color: rgb(0, 110, 255);
  transition: .5s;
  background-color: rgb(235, 235, 253);
}

.checkLiAll:hover .text_2{
  color: rgb(0, 110, 255);
  transition: .5s;
}

.text_2 {
  position: relative;
  bottom: -6px;
  font-size: small;
  font-weight: bold;
  float: right;
  color: white;
  padding-right: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.inputValid {
  margin: 0 auto;
  display: block;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 5px gray;
}

.inputValidError {
  margin: 0 auto;
  display: block;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 5px rgb(238, 0, 0);
}

.order {
text-align: center;
}

.btnOrder {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(194, 218, 228);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  padding: 10px 40px;
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.divError {
  margin: 0 auto;
  width: 320px;  
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: scale(0.5);
  transition: .5s;
  width: 30vw;
}

.modal__content.active {
  transform: scale(1);
}

.modalSuccess {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: larger;
  color: green;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modalSuccess.activeSuccess {
  opacity: 1;
  pointer-events: all;
}

.modal__successContent {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: scale(1);
  width: 30vw;
}

@media (max-width: 767px) {
 
  .currencyStyle {
    margin: 0 auto;
  }

  .tickets {
    top: 20px;
    padding: 0;
  }

  .someTicket {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    height: 210px;
  }

  .price {
    width: 100%;
    height: 60px; 
    order: 1;
    border-right: none;
    border-bottom: solid 1px rgb(201, 201, 201);
  }

  .btnTicket {
    float: left;
    top: 200px;
    left: 60px;
    margin: 0;
    width: 40%;
    height: 80%;
    padding: 0;
  }

  .turAir {
    float: right;
    width: 40%;
    padding-top: 10px;
    padding-right: 10px;
  }

  .divInfo {
    padding-right: 0;
    margin: 10px auto;  
  }

  .time {
    margin-left: 10px;
    padding: 0;
    padding-right: 100px;
    font-size: small;
    justify-content: start;
    width: 100%;
  }
  
  .time_1,
  .time_2 {
    font-size: medium;
  }

  .origin {
    padding-left: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .divDate {
    float: right;
    width: 20%;
    padding-right: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .span_3 {
    margin: 0;
    margin-top: 20px;
  }

  .divDateSpan {
    margin: 0;
    position: relative;
    bottom: 95px;
  }

  .divDateSpan_0 {
    position: relative;
    bottom: 25px;
  }

  .modal {
    width: 100%;
    height: 100%;
    padding-right: 100px;
    text-align: center;
    left: -35px;
  }

  .inputValid {
    width: 200px;
  }

  .modal__content {
    width: 250px;
    margin: 0;
  }

  .modalSuccessContent {
    width: 100%;
  }
}









